<%= simple_form_for(@user, html: { class: 'form-horizontal', multipart: true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col col-md-6 text-center">
      <br>
      <%= image_tag(@user.avatar_url, size: "250", class: "img-rounded") if @user.avatar? %>
      <center><%= f.input :avatar, as: :file, label: false %></center>
      <%= f.hidden_field :avatar_cache %>
    </div>
    <div class="col col-md-6">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password, placeholder: "Deixe em branco se não modificado" %>
      <%= f.association :role, collection: Role.order(name: :ASC) %>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <%= f.button :submit, class: "btn btn-block btn-primary" %>
    </div>
  </div>
<% end %>