<div class="row">
  <div class="col col-md-5">
    <%= image_tag @user.avatar, label: false, class: "img-rounded" %>
  </div>
  <div class="col col-md-7">
    <p>
      <strong>Nome:</strong><br>
      <%= @user.name %>
    </p>
    
    <p>
      <strong>Email:</strong><br>
      <%= @user.email %>
    </p>
    
    <p>
      <strong>Função:</strong><br>
      <%= @user.role.name %>
    </p>
    
    <p>
      <strong>Logou em:</strong><br>
      <%= @joined_on %>
    </p>
    <p>
      <strong>Último login:</strong><br>
      <%= @last_login %>
    </p>
    
    <p>
      <strong>Quantas vezes logou:</strong><br>
      <%= @user.sign_in_count %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col col-md-12 text-center">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
