<%= simple_form_for(@post, html: { class: 'form-horizontal', multipart: true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>

  <%= image_tag(@post.cover_url) if @post.cover? %>
  <%= f.input :cover %>
  <%= f.hidden_field :cover_cache %>

  <%= tinymce %>
  <%= f.text_area :content, class: "tinymce" %>

  <%= f.submit %>

<% end %>




