<div class="row">
  <% @posts.each do |post| %>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<hr>
				  <%= cl_image_tag post.cover_url, size:"900X300", class: "img-responsive img-rounded", style: "margin-top: 5px;" %>
				  Por <%= post.user.name %><br>
				  <%= post.created_at.strftime("%d-%b-%Y") %><br>
				  nยบ <%= post.id %>
				</div>
				<div class="col-md-9">
				  <hr>
					<div class="row">
						<div class="col-md-12">
						  <div class="row">
						    <div class="col-md-11">
						      <h2 class="title"><%= link_to post.title, post %></h2>
						    </div>
						    <div class="col-md-1">
						      <% if current_user %>
  				          <div class="dropdown">
                      <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><%= link_to 'Edit', edit_post_path(post) if can? :update, post %></li>
                        <li class="divider">
                        <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, post %></li>
                      </ul>
                    </div>
          		    <% end %>
						    </div>
						  </div>
		        </div>
					</div>
					<div class="row">
						<div class="col-md-12">
						  <hr>
              <p class="text-justify">
    			      <%= strip_tags(post.content).truncate(500) %><br />
    			      <%= link_to "(continuar lendo)", post_path(post) %>
    			    </p>
    			  </div>
    			</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<div class="row">
  <div class="col col-md-12 text-center">
    <%= will_paginate @posts %>
  </div>
</div>
<br>