<h1>Listing Posts</h1>

<div class="row">
  <% @posts.each do |post| %>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<hr>
				  <%= image_tag post.cover_url, class: "img-responsive img-rounded",style: "margin-top: 5px;" %>
				  Por <%= post.user.name %><br>
				  <%= post.created_at.strftime("%d-%b-%Y") %><br>
				  nยบ <%= post.id %>
				</div>
				<div class="col-md-9">
				  <hr>
					<div class="row">
						<div class="col-md-12">
		          <h2 class="title"><%= link_to post.title, post %>
				        <% if current_user %>
          				<div class="btn-group pull-right">
          				  <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle">
            				  <span class="caret"></span>
        				    </button>
        				    <ul class="dropdown-menu">
                      <li><%= link_to 'Edit', edit_post_path(post) if can? :update, post %></li>
                      <li class="divider">
                      <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, post %></li>
        				    </ul>
        			    </div>
        		    <% end %>
          		</h2>
          	</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						  <hr>
              <p class="text-justify">
    			      <%=raw post.content.gsub(/\<img (.*?)>/, '').truncate(500) %><%= link_to "(continuar lendo)", post %>
    			    </p>
    			  </div>
    			</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<br>
<% if can? :create, Post %>
  <%= link_to 'New Post', new_post_path %>
<% end %>