<% provide(:title, @post.title ) %>
<%= disqus_init %>
<h1 class="text-center"><strong><%= @post.title %></strong></h1>
<%= cl_image_tag @post.cover, width:900, height:300, crop: :fit, class: "img-responsive img-rounded center-block" %>
<hr>
<div class="row">
  <div class="col col-md-6">
    <%= cl_image_tag @post.user.avatar, width:50, height:50, crop: :thumb, gravity: :faces, class: "img-circle" %> <%= @post.user.name %> em <%= @post.created_at.strftime("%d/%b/%Y") %>
  </div>
  <div class="col col-md-6 text-right">
    <%= social_share_button_tag(@post.title, image: @post.cover, popup: "true") %>
  </div>
</div>
<hr>
<h4 class="text-justify">
  <%=raw @post.content %>
</h4>
<%= link_to 'Voltar', posts_path %>
<%- disqus_thread %>