<% provide(:title, @about.title ) %>
<%= disqus_init %>
<h1 class="text-center"><strong><%= @about.title %></strong></h1>
<hr>
<div class="row">
  <div class="col col-md-6">
    <%= @about.user.name %> às <%= @about.created_at.strftime("%d-%b-%Y") %>
  </div>
  <div class="col col-md-6 text-right">
  
    <%= social_share_button_tag(@about.title, popup: "true") %>
  </div>
</div>
<hr>
<%= image_tag @about.cover, class: "img-responsive img-rounded" %>
<h4 class="text-justify">
  <%=raw @about.content %>
</h4>
<%= link_to 'Back', root_path %>